name: Build Windows

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    name: Build on Windows
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run Build Script
      shell: cmd
      run: |
        call build.bat

    - name: Build Installer (Inno Setup)
      uses: Minionguyjosh/Inno-Setup-Action@v1
      with:
        path: installer/windows/setup.iss
        
    - name: Archive Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: EA-PURE-COMPRESSOR-Windows
        path: |
          installer/windows/Output/*.exe
          build/EA_PURE_COMPRESSOR_artefacts/Release/VST3/**
